In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

hitters = pd.read_csv("batting.csv")
hitters

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,G_old
0,aardsda01,2004,1,SFN,NL,11,NaN,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,aardsda01,2006,1,CHN,NL,45,NaN,2,0,0,...,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
2,aardsda01,2007,1,CHA,AL,25,NaN,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,aardsda01,2008,1,BOS,AL,47,NaN,1,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
4,aardsda01,2009,1,SEA,AL,73,NaN,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115445,zwilldu01,1915,1,CHF,FL,150,NaN,548,65,157,...,24.0,NaN,67,65.0,NaN,2.0,18.0,NaN,NaN,NaN
115446,zwilldu01,1916,1,CHN,NL,35,NaN,53,4,6,...,0.0,NaN,4,6.0,NaN,0.0,2.0,NaN,NaN,NaN
115447,zychto01,2015,1,SEA,AL,13,NaN,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
115448,zychto01,2016,1,SEA,AL,12,NaN,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
115449,zychto01,2017,1,SEA,AL,45,NaN,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [16]:
hitters.fillna(0, inplace=True)

In [17]:
hitters.head()

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,G_old
0,aardsda01,2004,1,SFN,NL,11,0.0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,2006,1,CHN,NL,45,0.0,2,0,0,...,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,aardsda01,2007,1,CHA,AL,25,0.0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,2008,1,BOS,AL,47,0.0,1,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,2009,1,SEA,AL,73,0.0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
hitters['AVG'] = hitters['H']/hitters['AB']
hitters['AVG'] = hitters['AVG'].round(3)
hitters['AVG'].fillna(0, inplace=True)
hitters

/var/folders/kz/2037kb4n7zg50nhsp_pgt59h0000gn/T/ipykernel_55154/1514617023.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hitters['AVG'].fillna(0, inplace=True)

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,G_old,AVG
0,aardsda01,2004,1,SFN,NL,11,0.0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
1,aardsda01,2006,1,CHN,NL,45,0.0,2,0,0,...,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000
2,aardsda01,2007,1,CHA,AL,25,0.0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
3,aardsda01,2008,1,BOS,AL,47,0.0,1,0,0,...,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
4,aardsda01,2009,1,SEA,AL,73,0.0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115445,zwilldu01,1915,1,CHF,FL,150,0.0,548,65,157,...,0.0,67,65.0,0.0,2.0,18.0,0.0,0.0,0.0,0.286
115446,zwilldu01,1916,1,CHN,NL,35,0.0,53,4,6,...,0.0,4,6.0,0.0,0.0,2.0,0.0,0.0,0.0,0.113
115447,zychto01,2015,1,SEA,AL,13,0.0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
115448,zychto01,2016,1,SEA,AL,12,0.0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
115449,zychto01,2017,1,SEA,AL,45,0.0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000

In [27]:
hitters["OBP"] = (hitters["H"] + hitters["BB"] + hitters["HBP"]) / (hitters["AB"] + hitters["BB"] + hitters["HBP"] + hitters["SF"])
hitters["OBP"] = hitters["OBP"].round(3)
hitters.fillna(0.000, inplace=True)
hitters

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,BB,SO,IBB,HBP,SH,SF,GIDP,G_old,AVG,OBP
0,aardsda01,2004,1,SFN,NL,11,0.0,0,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000
1,aardsda01,2006,1,CHN,NL,45,0.0,2,0,0,...,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000,0.000
2,aardsda01,2007,1,CHA,AL,25,0.0,0,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000
3,aardsda01,2008,1,BOS,AL,47,0.0,1,0,0,...,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000
4,aardsda01,2009,1,SEA,AL,73,0.0,0,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115445,zwilldu01,1915,1,CHF,FL,150,0.0,548,65,157,...,67,65.0,0.0,2.0,18.0,0.0,0.0,0.0,0.286,0.366
115446,zwilldu01,1916,1,CHN,NL,35,0.0,53,4,6,...,4,6.0,0.0,0.0,2.0,0.0,0.0,0.0,0.113,0.175
115447,zychto01,2015,1,SEA,AL,13,0.0,0,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000
115448,zychto01,2016,1,SEA,AL,12,0.0,0,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000
115449,zychto01,2017,1,SEA,AL,45,0.0,0,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000

In [30]:
hitters["SLG"] =  ((hitters["H"] - hitters["2B"] - hitters["3B"] - hitters["HR"]) -  + (2*hitters["2B"]) + (3*hitters["3B"]) + (4*hitters["HR"]) ) / hitters["AB"]
hitters["SLG"] = hitters["SLG"].round(3)
hitters.fillna(0.000, inplace=True)
hitters

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,SO,IBB,HBP,SH,SF,GIDP,G_old,AVG,OBP,SLG
0,aardsda01,2004,1,SFN,NL,11,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
1,aardsda01,2006,1,CHN,NL,45,0.0,2,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000,0.000,0.000
2,aardsda01,2007,1,CHA,AL,25,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
3,aardsda01,2008,1,BOS,AL,47,0.0,1,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
4,aardsda01,2009,1,SEA,AL,73,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115445,zwilldu01,1915,1,CHF,FL,150,0.0,548,65,157,...,65.0,0.0,2.0,18.0,0.0,0.0,0.0,0.286,0.366,0.208
115446,zwilldu01,1916,1,CHN,NL,35,0.0,53,4,6,...,6.0,0.0,0.0,2.0,0.0,0.0,0.0,0.113,0.175,0.113
115447,zychto01,2015,1,SEA,AL,13,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
115448,zychto01,2016,1,SEA,AL,12,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000
115449,zychto01,2017,1,SEA,AL,45,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000

In [31]:
hitters['OPS'] = hitters['OBP'] + hitters['SLG']
hitters['OPS'] = hitters['OPS'].round(3)
hitters

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,IBB,HBP,SH,SF,GIDP,G_old,AVG,OBP,SLG,OPS
0,aardsda01,2004,1,SFN,NL,11,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000
1,aardsda01,2006,1,CHN,NL,45,0.0,2,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000
2,aardsda01,2007,1,CHA,AL,25,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000
3,aardsda01,2008,1,BOS,AL,47,0.0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000
4,aardsda01,2009,1,SEA,AL,73,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115445,zwilldu01,1915,1,CHF,FL,150,0.0,548,65,157,...,0.0,2.0,18.0,0.0,0.0,0.0,0.286,0.366,0.208,0.574
115446,zwilldu01,1916,1,CHN,NL,35,0.0,53,4,6,...,0.0,0.0,2.0,0.0,0.0,0.0,0.113,0.175,0.113,0.288
115447,zychto01,2015,1,SEA,AL,13,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000
115448,zychto01,2016,1,SEA,AL,12,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000
115449,zychto01,2017,1,SEA,AL,45,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000

In [37]:
thousand_ops = hitters[(hitters['OPS'] >= 1.000) & (hitters['G'] >= 50)]
thousand_ops[['playerID', 'teamID','yearID', 'AVG', 'OBP', 'SLG', 'OPS']]

         playerID teamID  yearID    AVG    OBP    SLG    OPS
718     affelje01    SFN    2009  0.500  0.500  0.500  1.000
1209    alfonan01    CHN    2002  0.667  0.667  0.667  1.334
2354    anderla02    PHI    1993  1.000  1.000  1.000  2.000
3075    arredjo01    CIN    2011  0.500  0.500  0.500  1.000
3897     baezda01    BAL    2009  1.000  1.000  1.000  2.000
...           ...    ...     ...    ...    ...    ...    ...
110206  wendetu01    CHN    1996  0.500  0.667  0.500  1.167
111999  willimi02    CHN    1989  0.200  0.200  0.800  1.000
112003  willimi02    PHI    1993  1.000  1.000  1.000  2.000
112987   wisema01    MIL    2007  1.000  1.000  1.000  2.000
113169  wohlema01    ATL    1994  1.000  1.000  1.000  2.000

[162 rows x 7 columns]